.toggle-label {
      display: inline-block;
      background-color: #ccc;
      padding: 10px 20px;
      color: white;
      cursor: pointer;
      border-radius: 5px;
      user-select: none;
      transition: background-color 0.3s;
    }

    input[type="checkbox"] {
      display: none;
    }

    input[type="checkbox"]:checked + .toggle-label {
      background-color: #4CAF50;
    }

    .iframe-container { 
        margin: 10px 0; 
    }

    .hidden { 
        display: none; 
    }

    #logo { 
        max-width: 300px; height: auto; 
    }
    
    .section-heading { 
        font-family: Arial, sans-serif; 
    }

    
